section#donation {
  background: url("../../../images/layout/contact/picture2.png"), url("../../../images/layout/contact/pattern_cubes_25.png");
  background-position: center center, center center;
  background-attachment: scroll, fixed;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  padding-top: 30px;
  padding-bottom: 60px;
}

section#donation .content {
  color: #f0f0f0;
  flex-direction: column;
}

section#donation form {
  align-self: center;
  display: flex;
  flex-direction: column;
}

section#donation form img {
  width: 200px;
}

section#donation h2, section#donation .row {
  align-self: center;
}

section#donation .bank {
  text-align: center;
}

section#donation .row img {
  padding: 10px 60px;
  width: 90px;
}
