#container > section:nth-child(2) {
  margin-top: inherit;
}

/* header */

header {
  background-color: #444444;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav a {
  color: #f0f0f0;
  text-decoration: none;
  padding: 10px 40px;
  font-size: 1.2em;
}

/* Text */

#container h2 {
  font-size: 2.5em;
}

#container h3 {
  font-size: 1.8em;
}

#container p {
  font-size: 1.2em;
}
