/* Crossheader */

header.cross nav {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

header.cross nav a {
  text-align: center;
  padding: 10px;
  flex-basis: 100px;
}

header.cross.mobile {
  display: none;
}

@media (max-width: 600px) {
  header.cross.mobile {
    display: flex;
  }
}
