/* Crossheader */

header.cross nav {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header.cross nav a {
  text-align: center;
  padding: 10px;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

header.cross.mobile {
  display: none;
}

@media (max-width: 600px) {
  header.cross.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
