footer {
  background-color: #303030;
  color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0 30px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid rgb(203, 120, 53);
}

footer .columns {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  padding-bottom: 30px;
}

footer .column {
  padding: 0 50px 30px 50px;
}

footer h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.4em;
}

/* Contact column */

footer .column:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .column:first-child img {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 25px;
}

footer .logo {
  width: 100%;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  background: url("../../images/layout/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Sitemap column */

footer .sitemap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .sitemap a {
  color: white;
  text-decoration: none;
  padding: 5px 0;
}

footer .sitemap img {
  width: 8px;
}

/* Arrow */

footer .arrow {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer .arrow:hover {
  cursor: pointer;
}
