section#home {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

section#home .banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#home h1 {
  border: 5px solid #f0f0f0;
  font-size: 4em;
  text-align: center;
  color: #f0f0f0;
  padding: 20px 40px 20px 40px;
  font-weight: 400;
}

section#home .banner img {
  width: 48px;
}

section#home .banner img:hover {
  cursor: pointer;
}

section.second {
  margin-top: 100vh;
}

/* Banners */

section.index .banner {
  background: url("../../images/layout/home/banner.jpg");
}

section.stories .banner {
  background: url("../../images/layout/stories/banner.jpg");
}

section.about .banner {
  background: url("../../images/layout/about/banner.jpg");
}


/* Mobile */

@media (max-width: 600px) {
  section#home {
    position: inherit;
  }

  section.second {
    margin-top: inherit;
  }
}

@media (max-width: 450px) {
  section#home h1 {
    font-size: 2em;
  }
}
