section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .content {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 30px;
  margin-bottom: 30px;
}

section {
  background-color: #f0f0f0;
}

@media (max-width: 1000px)
{
  section .content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
