footer {
  background-color: #303030;
  color: white;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #cb7835;
}

footer .content {
  margin: 0 40px 40px 40px;
}

footer .columns {
  display: flex;
}

footer .column.first, footer .column.second {
  flex: 1;
}

footer .column.third {
  flex: 2;
}

footer .sitemap {
  display: flex;
  flex-direction: column;
}

footer .sitemap a {
  color: white;
  text-decoration: none;
}
