header {
  background-color: #444444;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  border-left: 1px solid #cb7835
}

header nav {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
}

header nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 1.2em;
  text-transform: uppercase;
}

header .logo {
  width: 60%;
  flex-basis: 100px;
  background: url("../../images/layout/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex-grow: 1;
}
