header {
  background-color: #444444;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  border-left: 1px solid #BABABA;
}

header nav {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
}

header nav a {
  text-decoration: none;
  color: #BABABA;
  padding: 10px;
  font-size: 1.2em;
  text-transform: uppercase;
}

header nav a:hover {
  color: #f0f0f0;
}

header nav img {
  width: 10px;
}

header .logo {
  width: 80%;
  flex-basis: 100px;
  background: url("../../images/layout/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex-grow: 1;
}

header .donate {
  padding: 8px 16px;
  margin-bottom: 10px;
  color: #BABABA;
  border: 1px solid #BABABA;
  background-color: transparent !important;
}

header .donate:hover {
  color: #f0f0f0;
}
