section#home {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

section#home .banner {
  background: url("../../images/layout/home/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  flex: 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#home h1 {
  border: 5px solid #f0f0f0;
  font-size: 4em;
  text-align: center;
  color: #f0f0f0;
  padding: 20px 40px 20px 40px;
  font-weight: 400;
}

section#home .banner img {
  width: 48px;
}

section#home .banner img:hover {
  cursor: pointer;
}

/* Mobile */

@media (max-width: 600px) {
  section#home {
    position: inherit;
  }
}
