section#home .banner {
  background: url("../../images/layout/home/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 70vh;
  flex-grow: 9;
}
