section#stories {
  background: url("../../../images/layout/home/stories.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  color: #f0f0f0;
  align-items: center;
}

section#stories .button {
  margin-top: 30px;
}

section#stories .verse p {
  margin-bottom: 10px;
  font-size: 2em;
  font-style: italic;
  width: 50%;
}

section#stories .verse {
  margin-left: 60px;
}
