section#stories {
  background: url("../../../images/layout/home/stories.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  color: white;
  font-size: 2em;

  align-items: center;
}

section#stories .verse {
  font-style: italic;
  margin-left: 40px;
  width: 50%;
}
