section#verse {
  background: url("../../../images/layout/home/stories.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  color: #f0f0f0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#verse .verse p {
  margin-bottom: 10px;
  font-size: 2em;
  font-style: italic;
  width: 50%;
}

section#verse .verse {
  margin-left: 60px;
}

@media (max-width: 650px) {

  section#verse .verse p {
    font-size: 1.2em;
    font-style: italic;
    width: 80%;
  }

}

@media (max-width: 500px) {

  section#verse .verse {
    margin-left: 10px;
  }

}
