/* Style */
section#aboutus{
	display:flex;
	flex-direction: column;
}

section#aboutus p{
 margin: 20px;
 text-align: justify;
}

section#aboutus h2{
	margin:  20px;
}

section#aboutus ul{
	padding: 20px;
	background-color: blue;
	list-style-image: url("")
}

/* Positioning */
section#aboutus .mission{
	flex-direction:row;
	background-color: red;
}
section#aboutus .conditions{
	flex-direction:row;
	background-color: yellow;

}

section#aboutus .mission p{

	background-color: green;
}

section#aboutus .mission h2{
	
}

section#aboutus .conditions p{

}

section#aboutus .conditions h2{

}

section#aboutus img{
	border: solid grey 1px;
	max-width: 20%;
	min-width: 120px;
	max-height: auto;
	margin: 20px;

}